.DS_Store
wordpress/wp-content/themes/*
!wordpress/wp-content/thmes/twentyfourteen/
!wordpress/wp-content/thmes/twentyfifteen/
!wordpress/wp-content/thmes/twentysixteen/
!wordpress/wp-content/thmes/twentyseventeen/
